<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.text_field :weight %>
  </div>

  <div>
    <%= form.label :width, style: "display: block" %>
    <%= form.text_field :width %>
  </div>

  <div>
    <%= form.label :length, style: "display: block" %>
    <%= form.text_field :length %>
  </div>

  <div>
    <%= form.label :valueSell, style: "display: block" %>
    <%= form.text_field :valueSell %>
  </div>

  <div>
    <%= form.label :valueBuy, style: "display: block" %>
    <%= form.text_field :valueBuy %>
  </div>

  <div>
    <%= form.label :depth, style: "display: block" %>
    <%= form.text_field :depth %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :photo1 %>
    <%= form.file_field :photo1 %>
  </div>
  
    <div class="field">
    <%= form.label :photo2 %>
    <%= form.file_field :photo2 %>
  </div>

    <div class="field">
    <%= form.label :photo3 %>
    <%= form.file_field :photo3 %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, { prompt: true }, { class: 'select2' }) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
